@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');

body {
    text-align: center;
    color: white;
    background: #363636;
    font-family: 'Grandstander', cursive;
}

h1 {
    text-shadow: 1px 1px 1px #E8175D;   
}

button {
    border-radius: 5px;
    padding: 0.25rem;
    background: #E8175D;
}

li {
   list-style-type: none;
   background: #A8A7A7;
   color: #000000;
   margin-top: 1rem;
   margin-right: 2rem;
   padding: 1rem;
   border: solid 0.25rem #E8175D;
}

a {
    color: #363636;
}

#bookmarks {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    
}

.add-bookmark-form {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    background: #A8A7A7;
    color: black;
    margin: 1rem;
}

.bookmark-info {
    display: flex; 
    flex-direction: column;
    background: #d67a7a;
    border: 1px solid grey;
    margin-bottom: 1rem;
    border-radius: 7px;
    padding: 1rem;
    overflow: hidden;
}

.bookmark-info p {
    width: 300px;
}

.hidden {
    display: none;
}

.bold {
    font-size: 20px;
    text-shadow: 1px 1px 1px white;
}

@media all and (min-width: 800px) {
    #bookmarks {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .add-bookmark-form {
       margin: 1rem 25rem;
       border-radius: 15px;
    }

    li {
        border-radius: 10px;
        margin: 1rem;
    }
}